fastapi==0.125.0
uvicorn
redis
pydantic
aioredis
langchain==1.2.0
transformers
spacy
requests
httpx
pymupdf
pypdf
python-multipart
langchain-community==0.4.1
pydantic_settings
langchain-text-splitters
langchain_google_genai
langchain-chroma